[user]
	email = vanhtuan0409@gmail.com
	name = Tuan Vuong
	signingKey = 52C55E88C429CEF857310C75495C4E40F3671ADD

[gpg]
  program = gpg

[fetch]
  prune = true

[pull]
  rebase = true

[core]
  pager = delta
  excludesfile = ~/.gitignore_global
  compression = 5

[protocol]
  version = 2

[delta]
  features = single no-decorations
  syntax-theme = gruvbox
  tabs = 2
  navigate = true
  pager = less

[delta "no-decorations"]
  ; hunk-header-style = omit
  file-decoration-style = omit
  hunk-header-decoration-style = omit

[delta "single"]
  line-numbers = true
  line-numbers-left-format = "{nm:^2} "
  line-numbers-right-format = "{nm:^2}│"

[delta "double"]
  side-by-side = true
  line-numbers-left-format = "{nm:^2}│"
  line-numbers-right-format = " {nm:^2}│"

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[commit]
	gpgSign = true
[tag]
	forceSignAnnotated = true
