[Unit]
Description=PolicyKit GNOME authentication agent
# Background polkit agent; bound to the session (see i3-session.target) so it is
# torn down on logout and started once the graphical session is up.
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1
Restart=on-failure
