.background {
  background-color: transparent;
}

.bar {
  padding-left: 10px;
  padding-right: 10px;
  color: #d4cd98;
  font-family: JetBrains Mono;
  font-weight: bold;
}

.widget {
  padding-left: 14px;
  padding-right: 14px;
}

.metric .metric-label {
  margin-right: 10px;
}
